header
    #header-scroll.small
        h1
            a(href='#') TITLE
        nav
            ul
                li
                    a(href='#1') First
                li
                    a(href='#2') Second
                li
                    a(href='#3') Third
                li
                    a(href='#4') Fourth
                li
                    a(href='#5') Fifth
section#1
    h1 First
section#2
    h1 Second
section#3
    h1 Third
section#4
    h1 Fourth 
section#5
    h1 Fifth